.errorText {
  text-align: center;
  font-size: 2em;
}

.noSubmit {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.g-background{
  background-image: url(../../assets/images/gilgamesh.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 50%;
  margin: -25px 25%;
}
