.user-choice-container {
  margin-top: 5em;
  padding: 2em;
}

.user-choice-choices {

}

.score-label {
  font-size: 24px;
  margin-left: 20px;
  background-color: black;
  color:white;
  padding: 10px;
 }

.score-input {
  padding: 10px;
  border: 1px solid transparent;
  font-size: 24px;
  background-color: transparent;
  color:white;
  width:80%;
}

.score-input:focus {
    outline: none;
}
