.civ-table{
  width:100%;
  border-collapse: collapse;
}

#leader{
  width: 30%;
}

#civilization{
  width: 30%;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
