.civ-table{
  width:100%;
  border-collapse: collapse;
  height: 400px;
  margin-top: 30px;
  border: 1px solid #aaa;
  font-size: 18px;
}

tr{
  border: 1px solid #aaa;
}

#icon{
  width: 5%;
}

.civ-icon{
  width:100%;
}

#civilization{
  width: 30%;
  text-transform: uppercase;
}

#leader{
  width: 30%;
}

#ability{
  width: 30%;
}

#checkbox{
  width:5%;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox] {
  transform: scale(2);
}
