.confirm-button{
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    padding: 20px 50px;
    display: inline-block;
    cursor: pointer;
    border-radius: 1px;
    border: 9px solid #dda833;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2) inset;
    transition-property: color, box-shadow, border-color, background-color, opacity, -webkit-box-shadow;
    transition-duration: 0.25s;
    color: #232323;
    background-color: #dda833;
}

.confirm-button:hover{
  background-color: #9A150E;
  border: 9px solid #9A150E;
  color: white;
}

.buttonContainer{
  text-align:center;
  padding: 20px 0;
}
