.game-score-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #dda833;
  text-align: center;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1% 0% 1% 0%;
  border-bottom: 1px solid #aaa;

}

.game-score-item p{
  font-size: 1em;
}

.single-text{
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 1.5em;
}

.single-text p{
  font-size: 1.5em;
}
