.grid-scoreboard{
  display: grid;
  grid-template-columns: 1;
  grid-row-gap: 1px;
  background-color: #aaa;
  padding: 1px;
  margin: 20px 50px 20px 50px;
}

.scoreboard-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #dda833;
  text-align: center;
  background-color: #f3f3f3;
}

.scoreboard-item p{
  font-size: 1.2em;
}
