.home-container{
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;

}

<<<<<<< HEAD
.figure-image{
  height: 100%;
=======
#background-img{
  background-image: url(../../assets/images/Gov.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height:35vh;
}

.test{
  background-image: url(../../assets/images/Magnus.png);
>>>>>>> 3d14a68710a70938b536f2e32e8ebad581de1829
  background-repeat: no-repeat;
  height: 10vh;
  margin: -20px 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.figure-image #Magnus{
  background-image: url(../../assets/images/Magnus.png);
}

.figure-image #Gov{
  background-image: url(../../assets/images/Gov.png);
}
