.home-container{
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;

}

.figure-image{
  height: 100%;
  background-repeat: no-repeat;
  height: 10vh;
  margin: -20px 0;
}

.figure-image #Magnus{
  background-image: url(../../assets/images/Magnus.png);
}

.figure-image #Gov{
  background-image: url(../../assets/images/Gov.png);
}
