body {
  margin: 0;
  padding: 0;
  font-family: "Elan ITC Std";
  background-image: url(assets/images/background.jpg);
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
