.grid-container{
  display: grid;
  width: 100%;
  margin: 0%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20% 60% 20%;
}

.header-container{
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: black;
  color: #dda833;
}

.footer-container{
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: black;
  color: #dda833;
}

.center-container{
  grid-column: 2;
  background-color: #f3f3f3;
}
