.grid-container{
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 8% 84% 8%;
}

.center-container{
  grid-column: 2;
  background-color: #f3f3f3;
  padding: 20px;
  grid-template-columns: 1;
  align-items: center;
}

.header-container{
  grid-column: 1 / 4;
  grid-row: 1;
  color: #dda833;
  background-color: black;
  text-align: center;
}

.header-container a{
  color: inherit;
  text-decoration: none;
}

.footer-container{
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: black;
  color: #dda833;
  text-align: center;
}
