.civ-icon{
  width:100%;
  max-width: 90px;
  background-color: #173B61;
  border-radius: 50%;
}

.icon{
  width: 5%;
  padding-left: 14px;
  padding: 10px;
}

.civilization{
  width: 30%;
  text-transform: uppercase;
  padding-left: 24px;
}

.leader{
  width: 30%;
  padding-left: 24px;
}

#ability{
  width: 30%;
}

#checkbox{
  width:5%;
}
