.civ-icon{
  width:100%;
  background-color: #173B61;
  border-radius: 50%;
}

#icon{
  width: 5%;
}

#civilization{
  width: 30%;
  text-transform: uppercase;
}

#leader{
  width: 30%;
}

#ability{
  width: 30%;
}

#checkbox{
  width:5%;
}
