.user-img{
  content: url(../../assets/icons/user.png);
  max-width: 100px;
  width: 20%;
  min-width: 60px;
}

.player-container p{
  font-size: 1em;
}

.player-container{
  background-color: #AEA993;
  /*background-image: url(../../assets/images/playerback.jpg);
  background-size: auto 100%;*/
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .2) inset;
  transition-property: color, box-shadow, border-color, background-color, opacity, -webkit-box-shadow;
  transition-duration: 0.25s;
  width: 100%;
  max-width: 100px;
}
