.profile-container{
  background-color: #173B61;
}

.profile-container p{
  color: white;
}

.link-color{
  font-weight: bold;
  color: white;
  text-align: right;
  text-decoration: none;
}

.link-color{
  font-size: 0.75em;
  font-weight: bold;
  color: white;
  text-align: right;
  text-decoration: none;
}

.link-color:hover{
  opacity: 0.8;
}
